Iris/Samples/MvcAsync/Starbucks/Service References/OrderQueryServiceProxy/OrderQueryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Starbucks.Barrista.Wcf.Queries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Starbucks.Barrista.Wcf.Queries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51110/OrderQueryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="OrderStatusQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderNumber" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderStatusQuery" nillable="true" type="tns:OrderStatusQuery" />
  <xs:complexType name="OrderStatusQueryResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderStatusQueryResult" nillable="true" type="tns:OrderStatusQueryResult" />
</xs:schema>