Iris/Samples/MvcAsync/Starbucks/Service References/BaristaServiceProxy/BaristaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Hermes.Messaging.Wcf" elementFormDefault="qualified" targetNamespace="Hermes.Messaging.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51110/BaristaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Starbucks.Messages" />
  <xs:element name="Put">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Starbucks.Messages" minOccurs="0" name="command" nillable="true" type="q1:OrderCoffee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>